@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .markdown-image-50 img {
    max-width: 50%;
    margin: auto;
  }
}

.page-layout {
  min-height: calc(100vh - 232px);
}
